body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.599);
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: url("../imagens/img-home.jpg");
    background-size: cover;
    background-position: center;
}

.left-section, .center-section, .right-section {
    display: flex;
    align-items: center;
}

.center-section {
    flex-grow: 1;
    justify-content: center;
}

.header .logo {
    height: 50px;
    margin-right: 10px;
}

.ranking-button {
    margin: 0 40px;
    cursor: pointer;
}

.icon-rank {
    height: 40px;
    margin-right: 5px;
}

.ranking{
    text-decoration: none;
}

.ranking-button,
.profissionais-button,
.premium-button,
.entrar-button, .meuperfil-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    padding: 0;
}

.input-premium {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    margin: 0 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.268); 
}

.input-premium input {
    flex: 1;
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent; 
}

.input-premium .search-icon {
    padding: 8px;
    background-color: none;
    color: #aaa;
    cursor: pointer;
}

.entrar-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.premium-button {
    margin-left: 40px;
}

.premium-button:hover,
.entrar-button:hover {
    opacity: 0.8;
}

.home-mobile{
    display: none;
}

.tipos-nutri {
    background-color: rgb(9, 67, 9);
    text-align: left;
    padding: 20px;
    color: white; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.tipos-nutri h1,
.tipos-nutri p {
    margin: 0 auto;
    max-width: 70%; 
    padding: 30px;
}

.tipos-nutri p {
    font-size: 23px;
}

.informações-nutri {
    text-align: left;
    padding: 20px;
    font-size: 25px;
}

.informações-nutri h1,
.informações-nutri p {
    margin: 0 auto;
    max-width: 70%; 
    padding: 30px;
}

.informações-nutri p{
    font-size: 20px;
}

.bloco-textos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 0 auto; 
    max-width: 1070px; 
}

.bloco {
    flex: 1 1 45%; 
    padding: 15px;
    box-sizing: border-box; 
}

.bloco h1 {
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

.bloco p {
    font-size: 1.2em; 
    line-height: 1.6; 
}

.escolhe-nutri {
    background-color: rgb(9, 67, 9);
    text-align: left;
    padding: 20px;
    color: white; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.escolhe-nutri h1,
.escolhe-nutri p {
    margin: 0 auto;
    max-width: 70%; 
    padding: 30px;
}

.escolhe-nutri p {
    font-size: 23px;
}

.inicia {
    text-align: left;
    padding: 20px;
    color: green; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.inicia h1,
.inicia p {
    margin: 0 auto;
    max-width: 70%; 
    padding: 30px;
}

.inicia p {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.67);
}

.btn-comeca {
    text-align: center; 
}

.btn-comeca button {
    background-color: green; 
    color: white; 
    border: none; 
    padding: 15px 50px;
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-top: 20px; 
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

.btn-comeca button:hover {
    background-color: darkgreen; 
}

footer {
    background-color: rgb(9, 67, 9);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

.footer-logo {
    flex: 0 1 150px;
    margin: 10px;
}
  
.footer-logo img {
    max-width: 45%;
    height: auto;
    margin-top: 15px;
}
  
.footer-informacao,
.footer-social {
    flex: 1;
    margin: 10px;
    margin-right: 150px;
}
  
.footer-social .social-icons a {
   color: #ffffff;
   font-size: 24px;
   text-decoration: none;
}
  
.footer-bottom {
   text-align: center;
   padding: 15px 0;
   background-color: #1c1c1c;
}
  
.footer-bottom p {
    margin: 0;
}


@media (max-width: 1070px) {

    .header{
        display: none;
    }
    .home-mobile {
        display: flex;
    }

    .home-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.599);
        border-bottom: 1px solid #ddd;
        width: 100%;
        box-sizing: border-box;
        position: fixed; 
        top: 0;
        background: url("../imagens/img-home.jpg");
    }
    
    .left-section, .right-section {
        display: flex;
        align-items: center;
    }
    
    .menu .logo {
        height: 40px;
    }
    
    .right-section .search-icon {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }
    
    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: left;
        background-image: url("../imagens/img-home.jpg");
        position: fixed;
        top: 11%;
        left: 50%;
        width: 40%;
        height: 100%;
        z-index: 2;
        padding: 20px;
    }
    
    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .mobile-menu ul li {
        margin: 20px 0;
    }
    
    .mobile-menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }
    
    .mobile-menu.hidden {
        display: none;
    }
    
    .menu-icon {
        cursor: pointer;
    }
    
    .menu {
        z-index: 3;
    }

    .menu .logo {
        height: 50px;
    }
    
    .right-section .search-icon {
        font-size: 50px;
        color: green;
        cursor: pointer;
    }
   
    .tipos-nutri {
        font-size: 25px;
    }
    
    .tipos-nutri h1{
        margin-top: 40px;
    }

    .tipos-nutri h1,
    .tipos-nutri p {
        max-width: 100%; 
        padding: 0px 0px 50px 0px;
    }
    
    .tipos-nutri p {
        font-size: 21px;
    }

    .informações-nutri h1,
    .informações-nutri p {
        margin: 0 auto;
        max-width: 100%;
        padding: 0px 0px 50px 0px;
    }

    .escolhe-nutri h1,
    .escolhe-nutri p {
        max-width: 100%; 
        padding: 0px 0px 50px 0px;
    }

    .inicia h1,
    .inicia p {
        max-width: 100%; 
        padding: 0px 0px 50px 0px;
    }

    footer{
        display: none;
    }
}