body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.599);
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: url("../imagens/img-home.jpg");
    background-size: cover;
    background-position: center;
}

.left-section, .center-section, .right-section {
    display: flex;
    align-items: center;
}

.center-section {
    flex-grow: 1;
    justify-content: center;
}

.header .logo {
    height: 50px;
    margin-right: 10px;
}

.ranking-button {
    margin: 0 40px;
    cursor: pointer;
}

.icon-rank {
    height: 40px;
    margin-right: 5px;
}

.ranking{
    text-decoration: none;
}

.ranking-button,
.profissionais-button,
.premium-button,
.entrar-button, .meuperfil-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    padding: 0;
}

.input-premium {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    margin: 0 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.268); 
}

.input-premium input {
    flex: 1;
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent; 
}

.input-premium .search-icon {
    padding: 8px;
    background-color: none;
    color: #aaa;
    cursor: pointer;
}

.entrar-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.premium-button {
    margin-left: 40px;
}

.premium-button:hover,
.entrar-button:hover {
    opacity: 0.8;
}

.home-mobile{
    display: none;
}

.header-content {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: green;
    font-size: 25px;
    margin-top: 100px;
}

.back-arrow{
    color: #000000;
}

.arrow-icon.md-24 {
    font-size: 36px;
    cursor: pointer;
    margin-right: 8px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 90%;
    max-width: 1200px; 
    height: 78vh; 
    margin: 0 auto;
    margin-bottom: 50px;
    box-sizing: border-box; 
}

.side-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image img {
    max-width: 90.5%;
    padding: 0;
    margin: 0;
    height: auto;
    object-fit: cover;
}

.left{
    width: 200px;
    margin-right: 100px;
}

.login-card-container {
    display: flex;
    align-items: stretch;
    height: 400px; 
}

.login-card {
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 70vh;
    padding: 0 20px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card h2 {
    margin-bottom: 20px;
    color: green;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
}

.erro-form {
    color: red !important;
    border: 1px solid red !important;
    border-radius: 5px !important;
    padding-left: 5px !important;
    background-color: lightpink !important;
}

.login-card .notification {
    position: fixed;
    top: 20px;
    right: 50%;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.login-card .notification:empty {
    display:none
}

.login-card .notification2 {
    position: fixed;
    top: 100px;
    right: 50%;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    z-index: 1000;
}

.login-card .notification2:empty {
    display:none
}

.login-card input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid green;
    border-radius: 5px;
    outline: none;
}

.btn-entrar {
    padding: 10px;
    background-color: #2B8B1E;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 15px auto 15px auto;
    width: 60%;
    display: block;
}

.or-divider {
    margin: 20px 0;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.social-buttons button {
    display: flex;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-color: green;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    color:#000000
}

.social-buttons button span.material-icons, svg.material-icons {
    margin-right: 10px;
    font-size: 24px;
}

.google-button {
    margin-top: 30px;
}

#facebook {
    color: #1877F2;
}

.novo-usuario{
    align-items: center;
    margin-top: 30px;
}

.novo-usuario button{
    border: none;
    color: green;
    font-size: 18px;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}

.side-image.right {
    height: auto; 
    max-height: 100%; 
    position: relative;
    right: 25px;
    overflow: hidden; 
}

.side-image.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

footer {
    background-color: #144b0d;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

.footer-logo {
    flex: 0 1 150px;
    margin: 30px;
}
  
.footer-logo img {
    max-width: 45%;
    height: auto;
    margin-top: 15px;
}

.footer-logo a{
    color: white;
    text-decoration: none;
}

.footer-informacao {
    padding-top: 13px;
    padding-bottom: 13px;
}

.footer-informacao a{
    display: flex;
    align-items: column;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 4px;
}
  
.footer-informacao,
.footer-social {
    flex: 1;
    margin: 10px;
    margin-right: 150px;
}
  
.footer-social .social-icons a {
   color: #ffffff;
   font-size: 24px;
   text-decoration: none;
}
  
.footer-bottom {
   text-align: center;
   padding: 15px 0;
   background-color: #1c1c1c;
}
  
.footer-bottom p {
    margin: 0;
}

.mobile{
    display: none;
}

@media (max-width: 1020px) {
    .mobile{
        display: flex;
    }
    .side-image{
        display: none;
    }
    footer{
        display: none;
    }
    .header{
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.599);
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .container {
        margin-top: 0; 
        margin-left: 0; 
    }
    
    .card {
        max-width: calc(100% - 40px); 
        margin-right: 0; 
        margin-left: 0;
        margin-bottom: 0;
    }

    .menu {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.599);
        border-bottom: 1px solid #ddd;
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        background: url("../imagens/img-home.jpg");
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: left;
        background-image: url("../imagens/img-home.jpg");
        position: fixed;
        top: 11.7%;
        left: 50%;
        width: 40%;
        height: 100%;
        z-index: 2;
        padding: 20px;
    }
    
    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .mobile-menu ul li {
        margin: 20px 0;
    }
    
    .mobile-menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }
    
    .mobile-menu.hidden {
        display: none;
    }

    .menu .logo {
        height: 50px;
    }

    .right-section .search-icon {
        font-size: 50px;
        color: green;
        cursor: pointer;
    }

    .back-button {
        margin-top: 80px;
        margin-bottom: 65px;
    }

    .login-container {
        height: 80vh;
    }

    .login-card{
        height: 80vh;
        margin-bottom: 90px;
    }
}