<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleTipoNutri.css">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Tipo de Nutricionistas - NutriWeb</title>
</head>
    <body class="body">
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>

            <section class="tipos-nutri">
                <h1>Descubra o Nutricionista Ideal para Você</h1>
                <p>Está na dúvida sobre qual nutricionista pode te ajudar a alcançar seus objetivos? Sabemos que
                    com tantas especialidades por aí, pode ser complicado saber por onde começar. Mas relaxa,
                    estamos aqui para te ajudar! </p>
                <p>Nesta página, vamos te mostrar de forma simples e direta como escolher o nutricionista certo para
                    você, seja para perder uns quilinhos, ganhar massa, melhorar sua saúde ou até dar um up na
                    performance esportiva. Vamos nessa?</p>
            </section>

            <section class="informações-nutri">
                <h1>Por que é Importante Escolher o Nutricionista Certo?</h1>

                <p>Nem todo nutricionista faz a mesma coisa. Dependendo do que você busca, escolher o profissional
                    certo pode fazer toda a diferença nos seus resultados. Um nutricionista esportivo, por exemplo, vai
                    focar em melhorar seu desempenho e recuperação, enquanto um nutricionista clínico pode ajudar a
                    controlar doenças como diabetes ou hipertensão.</p>

                <h1>Tipos de Nutricionistas: Qual é o Seu?</h1>

                <p>Aqui, vamos dar uma olhada nos principais tipos de nutricionistas e o que cada um faz. 
                Veja onde você se encaixa:</p>                
                    
            </section>

            <section class="bloco-textos">
                <section class="bloco">
                    <h1>Nutricionista Clínico</h1>
                    <p>Perfeito para quem precisa de ajuda com doenças crônicas, como diabetes, hipertensão, 
                        ou colesterol alto. Esse profissional vai criar um plano alimentar personalizado para 
                        melhorar sua saúde e bem-estar.</p>
                </section>

                <section class="bloco">
                    <h1>Nutricionista Esportivo</h1>
                    <p>Se o seu foco é melhorar o desempenho nos treinos, ganhar massa muscular ou perder gordura, 
                        esse é o nutricionista que vai te guiar no caminho certo. Ele entende as necessidades 
                        nutricionais específicas de atletas e praticantes de atividades físicas.</p>
                </section>

                <section class="bloco">
                    <h1>Nutricionista Funcional</h1>
                    <p>Quer descobrir como sua alimentação pode impactar diretamente sua saúde geral, energia e até 
                        mesmo humor? Esse profissional vai te ajudar a equilibrar o organismo através de uma alimentação 
                        personalizada e rica em nutrientes.</p>
                </section>

                <section class="bloco">
                    <h1>Nutricionista Vegetariano/Vegano:</h1>
                    <p>Se você segue ou quer seguir uma dieta sem produtos de origem animal, esse profissional é o ideal 
                        para garantir que você esteja obtendo todos os nutrientes necessários.</p>
                </section>

                <section class="bloco">
                    <h1>Nutricionista Materno-Infantil:</h1>
                    <p>Para grávidas, mães e bebês, esse especialista cuida da alimentação desde a gestação até a
                        introdução alimentar dos pequenos, garantindo saúde e nutrição adequadas.</p>
                </section>
            </section>

            <section class="escolhe-nutri">
                <h1>Como Escolher o Seu Nutricionista</h1>
                <p>Agora que você já conhece os diferentes tipos de nutricionistas, vamos às dicas práticas para escolher o
                    profissional certo:</p>
            </section>

            <section class="bloco-textos">
                <section class="bloco">
                    <h1>Objetivos Pessoais:</h1>
                    <p>Defina o que você quer alcançar. Perda de peso? Aumento de massa? Melhorar a saúde? 
                        Isso vai direcionar sua escolha.</p>
                </section>

                <section class="bloco">
                    <h1>Experiência e Especialização:</h1>
                    <p>Verifique se o nutricionista tem experiência e especialização na área que você precisa. 
                        Procure referências e leia avaliações.</p>
                </section>

                <section class="bloco">
                    <h1>Afinidade:</h1>
                    <p>Lembre-se de que a relação com o nutricionista é importante. Escolha alguém 
                        com quem você se sinta à vontade para conversar e tirar dúvidas.</p>
                </section>

                <section class="bloco">
                    <h1>Consulta Inicial:</h1>
                    <p>Aproveite a primeira consulta para entender a abordagem do profissional e ver se ela está alinhada 
                        com o que você busca.</p>
                </section>
            </section>

            <section class="inicia">
                <h1>Agora é Só Escolher e Começar!</h1>
                <p>Com essas dicas, você está pronto para escolher o nutricionista ideal e dar o primeiro passo rumo aos seus 
                    objetivos de saúde. Lembre-se: o mais importante é encontrar um profissional que entenda suas necessidades 
                    e te ajude a alcançar resultados reais e duradouros.</p>
            </section>
            
            <section class="btn-comeca">
                <a href="/login"><button>Comece agora!</button></a>  
            </section>            

        <footer class="footer">
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                </section>

              <section class="footer-informacao">
                <h3>Sobre o NutriWeb</h3>
                <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
              </section>
          
              <section class="footer-social">
                <h3>Siga-nos</h3>
                <section class="social-icons">
                  <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
            
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>

</body>
<script src="js/scriptPerfil.js"></script>
</html>