<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleHeader.css">
    <link rel="stylesheet" href="css/stylePremium.css">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Premium - NutriWeb</title>
</head>
    <body>
        
        <%- include('../partials/header.ejs') %>

        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <section class="material-icons search-icon md-24 menu-icon">menu</section>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>

        <section class="back">
            <a href="/" class="back-button">
                <section class="material-icons arrow-icon md-24">arrow_back_ios</section>
                <section class="back-arrow">Voltar</section>
            </a>
        </section>

        <section class="center-content">
            <h1 class="title">Planos</h1>
            <p class="subtitle">Conheça nossos planos e veja qual faz mais sentido para você.</p>
        </section>

        <section class="cards">
        
            <article class="card-planos">

                <p>Plano <section class="name-plano">Básico</section></p>
                <p><section class="basic-price">R$ 0</section>/gratuito</p>

                <h3>O que está incluso?</h3>
                <ul class="beneficios-plano">
                    <li><i class="fas fa-check-circle"></i> Perfil profissional</li>
                    <li><i class="fas fa-check-circle"></i> Até 2 publicações semanais</li>
                    <li><i class="fas fa-times-circle"></i>  Selo de Verificação</li>
                </ul>

            </article>

            <article class="card-planos card-premium">

                <p>Plano <section class="name-plano name-plano-premium">Essencial</section></p>
                <p><section class="basic-price-premium">R$ 79,90</section>/por mês</p>

                <h3>O que está incluso?</h3>
                <ul class="beneficios-plano beneficios-plano-premium">
                    <li><i class="fas fa-check-circle"></i> Perfil Profissional</li>
                    <li><i class="fas fa-check-circle"></i> Publicações Ilimitadas</li>
                    <li><i class="fas fa-check-circle"></i> Selo de Verificação</li>

                    <button class="btn-assinar-pro" onclick="window.location.href='/assinatura'">Assinar</button>
                </ul>
                
            </article>
    
        </section>
        
        <footer>
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                    <a href="/"><h3>NutriWeb</h3></a>
                </section>

                <section class="footer-informacao">
                    <a href="/">Página Inicial</a>
                    <a href="/ranking">Ranking</a>
                    <a href="/profissionais">Profissionais</a>
                    <a href="/premium">Premium</a>
                    <a href="/login">Login</a>
                    <a href="/">Sobre nós</a> 
                    <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                </section>
          
              <section class="footer-social">
                  <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                <h3>Siga-nos</h3>
                <section class="social-icons">
                  <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
    </body>
    <script src="js/indexMenu.js"></script>
    <script src="js/alerts.js"></script>
</html>