<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePerfilNutri.css">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Perfil Do Nutricionista - NutriWeb</title>
</head>
    <body class="body">
        <% 
        let erroValidacao = {"avaliacao" : ""};
        let msgErro = {"avaliacao" : ""};
        if(listaErros) {
            listaErros.errors.forEach( function(erro) {
                if (erro.path == "avaliacao") {
                    erroValidacao.avaliacao = "erro-form",
                    msgErro.avaliacao = erro.msg
                }
            });
        } 
        %>
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>
            
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>

        <!-- Conteudo do site -->

        <section id="conteudo-completo">
            <section class="overlay hidden">
                <section class="container-avaliar">
                    <section class="barra-avaliar"></section>
                    <section class="avaliar">
                        <a href="/perfilcliente" class="perfil-avaliar">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdGIriHwMYbjKJI76jDDK8KzXXSZhiNKGs9g&s" id="img-avaliar">
                            <section>
                                <section id="nome-avaliar">Carlos Oliveira</section>
                                <section id="legenda-avaliar">As postagens são públicas.</section>
                            </section>
                        </a>
                        <section class="content-avaliar">
                            <span class="notification"><%= msgErro.avaliacao %></span>
                            <section id="rating">
                                <span class="star" data-value="1">★</span>
                                <span class="star" data-value="2">★</span>
                                <span class="star" data-value="3">★</span>
                                <span class="star" data-value="4">★</span>
                                <span class="star" data-value="5">★</span>
                            </section>
                            <form action="/publicaravaliacao" method="post">
                                <textarea id="avaliacao" name="avaliacao" value="<%= valores.avaliacao %>" class="<%= erroValidacao.nome %>" rows="15" cols="70" placeholder="Faça sua avaliação deste profissional"></textarea>
                                <section class="buttons-avaliar">
                                    <button type="button" onclick="fecharMenu()" class="cancelar">Cancelar</button>
                                    <button type="submit" id="postar">Postar</button>
                                </section>
                            </form>
                        </section>
                    </section>
                </section>
            </section>
            <section id="imagem_de_fundo"></section>
            <main class="conteudo">
                        <section id="info_perfil">
                            <section id="container_foto">
                                <section class="foto_perfil">
                                    <img src="#" alt="" class="foto_perfil" id="foto-perfil">
                            </section>
                        </section>

                    <section id="infrmacoes_nutri">
                        <h1 id="nomenutri"></h1>
                        <p class="tipo-nutri" id="tipo-nutri"></p>

                        <h1>Sobre:</h1>
                        <span id="sobremim"></span>

                        <h1>Faculdade:</h1>
                        <span id="faculdade">Bacharelado em Nutrição <br> Universidade de São Paulo (USP)</span>

                        <img src="imagens/phpublicacao.png" alt="" class="perfil-imagem">

                        <h1>Curso:</h1>
                        <span id="faculdade">Especialidade em Nutrição <br> Estética (FAMESP)</span>

                        <img src="imagens/phpublicacao.png" alt="" class="perfil-imagem">
                    </section>
                    
                    <section id="info_contato">
                        <h4>Informações de Contato</h4>
                        <section class="divisao"></section>
                    </section>
                    <section id="rede_sociais">
             
                        <p class="contato">
                            <img src="imagens/contato-whatsapp.png" alt="" class="icone_contato">
                            <span id="whatsapp">(xx) xxxxx-xxxx</span>
                        </p>
             
                        <p class="contato">
                            <img src="imagens/contato-instagram.png" alt="" class="icone_contato">
                            <span id="instagram">(xx) xxxxx-xxxx</span>
                        </p>
             
                        <p class="contato">
                            <img src="imagens/contato-email.png" alt="" class="icone_contato">
                            <span id="email">(xx) xxxxx-xxxx</span>
                        </p>
                    </section>
                    <section id="editar-perfil">
             
                        <span class="material-symbols-outlined caneta">
                            edit
                            </span>
                        <p>
                            Editar Perfil
                        </p>
                    </section>
             
                </section>
                <section id="publi_avaliacao">
                    <section id="publi_selecionar" onclick="clicarDois()">
                        <p>Publicações</p>
                    </section>
                    <section id="avaliacao_selecionar" onclick="clicarUm()">
                        <p>Avaliações</p>
                    </section>
                </section>

                <section id="publi">
                    <a href="/publicar" id="novapublicacao">
                        <span class="material-symbols-outlined">add</span>
                        <span>Nova Publicação</span>
                    </a>
                    <section class="grid-publicacoes">
                        <article class="img">
                            <img src="imagens/img-post-estrogonofe.jpg" alt="" class="post_img" data-img="imagens/img-post-estrogonofe.jpg">
                        </article>
                        <article class="img">
                            <img src="imagens/img-post-frutas.jfif" alt="" class="post_img" data-img="imagens/img-post-frutas.jfif">
                        </article>
                        <article class="img">
                            <img src="imagens/img-post-kiwi.jpg" alt="" class="post_img" data-img="imagens/img-post-kiwi.jpg">
                        </article>
                        <article class="img">
                            <img src="imagens/img-post-whey.jpg" alt="" class="post_img" data-img="imagens/img-post-whey.jpg">
                        </article>
                        <article class="img">
                            <img src="imagens/img-post-saudavel.jfif" alt="" class="post_img" data-img="imagens/img-post-saudavel.jfif">
                        </article>
                        <article class="img">
                            <img src="imagens/img-post-frango.jfif" alt="" class="post_img" data-img="imagens/img-post-frango.jfif">
                        </article>
                    </section>
                </section>
                
                <section id="avaliar_nutri">
                    <span id="tituloavaliacao">Minhas Avaliações</span>
                    <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <img src="imagens/foto_perfil.jpg" alt="avaliador">
                                <p class="nome-escrito" id="nome1">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" class="stay-desativada" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario1">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
             
                    <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <img src="imagens/foto_perfil.jpg" alt="avaliador">
                                <p class="nome-escrito" id="nome2">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" class="stay-desativada" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario2">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
                    <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <img src="imagens/foto_perfil.jpg" alt="avaliador">
                                <p class="nome-escrito" id="nome3">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" class="stay-desativada" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario3">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
                     <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <img src="imagens/foto_perfil.jpg" alt="avaliador">
                                <p class="nome-escrito" id="nome4">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" class="stay-desativada" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario4">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
                    <button class="bookmarkBtn">
                        <span class="IconContainer">
                          <svg viewBox="0 0 384 512" height="0.9em" class="icon">
                            <path
                              d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
                            ></path>
                          </svg>
                        </span>
                        <p class="text">Avalie</p>
                      </button>
                </section>
                     </main>

                     <footer class="footer">
                        <section class="footer-container">
            
                            <section class="footer-logo">
                                <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                                <a href="/"><h3>NutriWeb</h3></a>
                            </section>
            
                            <section class="footer-informacao">
                                <a href="/">Página Inicial</a>
                                <a href="/ranking">Ranking</a>
                                <a href="/profissionais">Profissionais</a>
                                <a href="/premium">Premium</a>
                                <a href="/login">Login</a>
                                <a href="/">Sobre nós</a> 
                                <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                            </section>
                      
                          <section class="footer-social">
                            <h3>Siga-nos</h3>
                            <section class="social-icons">
                              <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                            </section>
                            <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                          </section>
                        </section>
                        
                        <section class="footer-bottom">
                          <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                        </section>
                    </footer>
         </section>

         <div id="imageModal" class="image-modal">
            <span class="close-modal">&times;</span>
            <img class="modal-content" id="modalImage">
        </div>
    </body>
    <script src="js/scriptPerfil.js"></script>
    <script src="js/PostModal.js"></script>
    <script src="js/rating.js"></script>
    <script src="js/indexMenu.js"></script>
    <script src="js/listanutricionistas.js"></script>
</html>