<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleCadastrarNutri.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Cadastro nutricionista - NutriWeb</title>
</head>
    <body>

        <section class="header-content">
            <a href="/cadastro" class="back-button">
                <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                <span class="back-arrow">Voltar</span>
            </a>
        </section>

        <section class="container">
            <section class="card">
                <section class="conteudo-form">
                    <form action="/" method="get" class="cadastro-form">
                        <h2>Cadastre-se e comece sua jornada</h2>
                        <section class="campo-form">
                            <label for="nome">Nome completo:</label>
                            <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo" required>
                        </section>
                        <section class="campo-form">
                            <label for="nome">Telefone:</label>
                            <input type="text" id="nome" name="nome" placeholder="Digite o número de seu telefone" required>
                        </section>
                        <section class="campo-form">
                            <label for="email">E-mail:</label>
                            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                        </section>
                        <section class="campo-form">
                            <label for="senha">Crie uma senha:</label>
                            <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>
                        </section>
                        <section class="campo-form">
                            <label for="especialidade">Digite em qual área da nutrição você se sente mais familiarizado:</label>
                            <input type="text" id="especialidade" name="especialidade" placeholder="Ex: alimentação sem glúten" required>
                        </section>
                        <section class="campo-form">
                            <label for="NumeroCRN">Número do CRN:</label>
                            <input type="text" id="NumeroCRN" name="NumeroCRN" placeholder="Digite seu número do CRN">
                        </section>
                        <button type="submit" class="btn-cadastrar">Cadastrar</button>
                    </form>
                </section>
            </section>

            <section class="imagem-container">
                <a href="/"><img src="imagens/logo.png" alt="Imagem" class="imagem-fullwidth"></a>
            </section>
        </section>

        <section class="mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>

            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

        </section>


    </body>
    <script src="js/indexMenu.js"></script>
</html>
