<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleProfissionais.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <title>Profissionais - NutriWeb</title>
</head>

    <body>
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking">
                    <section class="btn-ranking">
                        <img src="imagens/icone-ranking.png" alt="Ranking Icon" class="icon-rank">
                        <button class="ranking-button">Ranking</button>
                    </section>
                </a>
        
                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>

        <section class="content">

            <section class="header-content">
                <a href="/"><span class="material-icons arrow-icon md-24">arrow_back_ios</span></a>
                <span class="header-text">Profissionais</span>
            </section>

            <section class="tipo-nutrição">
                <h1>Nutrição Esportiva</h1>
                <h2>Para você que buscar conciliar com os esportes físicos</h2>
            </section>

            <section class="cards-container">

                <a href="/perfilnutri">
                    <section class="card">
                            <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Julia Barros</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri">
                    <section class="card">
                        <img src="imagens/profissional2.png" alt="Profissional 2" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Roberta Santos</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri">
                    <section class="card">
                        <img src="imagens/profissional3.png" alt="Profissional 3" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Flávia Flins</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri">
                    <section class="card">
                        <img src="imagens/profissional4.png" alt="Profissional 4" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Pablo Parron</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
  
            </section>
        </section>

        <section class="home-mobile">

            <section class="menu">

                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>

            </section>

            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

        </section>

    </body>
    <script src="js/indexMenu.js"></script>
</html>