<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePremium.css">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Premium - NutriWeb</title>
</head>
    <body>
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>

        <section class="back">
            <a href="/" class="back-button">
                <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                <span class="back-arrow">Voltar</span>
            </a>
        </section>

        <section class="center-content">
            <h1 class="title">Planos</h1>
            <p class="subtitle">Conheça nossos planos e veja qual faz mais sentido para você.</p>
        </section>

        <section class="cards">
        
            <article class="card-planos">

                <p>Plano <span class="name-plano">Básico</span></p>
                <p><span class="basic-price">R$ 0</span>/gratuito</p>

                <h3>O que está incluso?</h3>
                <ul class="beneficios-plano">
                    <li>✅ Perfil profissional</li>
                    <li>✅ Publicação de até 3 post por semana</li>
                    <li>✅ Visibilidade no diretório de profissionais <strong>(com menor destaque)</strong></li>
                    <li>❌ Selo de verificação</li>
                </ul>

            </article>

            <article class="card-planos card-premium">

                <p>Plano <span class="name-plano name-plano-premium">Essencial</span></p>
                <p><span class="basic-price-premium">R$ 29,90</span>/por mês</p>

                <h3>O que está incluso?</h3>
                <ul class="beneficios-plano beneficios-plano-premium">
                    <li>✅ Tudo do plano Básico +</li>
                    <li>✅ Publicação ilimitadas</li>
                    <li>✅ Participação em grupos exclusivos</li>
                    <li>✅ Maior Visibilidade no diretório de profissionais <strong>(destaque no topo do resultado)</strong></li>
                    <li>✅ Selo de verificação</li>
                    <li>✅ Oportunidades de se destacar nas redes sociais da NutriWeb</li>

                    <button class="btn-assinar-pro">Assinar</button>
                </ul>
                
            </article>
    
        </section>
        
        <footer>
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                    <a href="/"><h3>NutriWeb</h3></a>
                </section>

                <section class="footer-informacao">
                    <a href="/">Página Inicial</a>
                    <a href="/ranking">Ranking</a>
                    <a href="/profissionais">Profissionais</a>
                    <a href="/premium">Premium</a>
                    <a href="/login">Login</a>
                    <a href="/">Sobre nós</a> 
                    <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                </section>
          
              <section class="footer-social">
                  <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                <h3>Siga-nos</h3>
                <section class="social-icons">
                  <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
            
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>
        
    </body>
    <script src="js/indexMenu.js"></script>
</html>