<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleProfissionais.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Profissionais - NutriWeb</title>
</head>
    <body>
        
        <header class="header">
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>
                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>
        
            <section class="center-section">
                <form action="/buscar" method="GET" class="form-busca">
                    <section class="input-premium">
                        <span class="material-icons search-icon md-24">search</span>
                        <input 
                            type="text" 
                            name="q" 
                            placeholder="Buscar publicações e nutricionistas..."
                            value="<%= typeof termo !== 'undefined' ? termo : '' %>"
                            minlength="2"
                            required
                        >
                        <button type="submit" style="display: none;"></button>
                    </section>
                </form>
            </section>
            
            <section class="right-section">
                <% if (headerUsuario.estaLogado) { %>
                    <a href="/premium"><button class="premium-button">Premium</button></a>
                    
                    <a href="<%= headerUsuario.urlPerfil %>" class="perfil-usuario-link">
                        <div class="perfil-usuario">
                            <img src="<%= headerUsuario.fotoPerfil %>" 
                                 alt="Foto de perfil" 
                                 class="foto-perfil-header"
                                 onerror="this.src='imagens/foto_perfil.jpg'">
                            <span class="nome-usuario-header"><%= headerUsuario.nome %></span>
                        </div>
                    </a>
                <% } else { %>
                    <a href="/premium"><button class="premium-button">Premium</button></a>
                    <a href="/login"><button class="entrar-button">Entrar</button></a>
                <% } %>
            </section>
        </header>

        <section class="home-mobile">

            <section class="menu">

                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>

            </section>

            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>

        <section class="content">

            <section class="container-background">
                <section class="header-content">
                    <a href="/">
                        <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                        <span class="header-text">Voltar</span>
                    </a>
                </section>
                <section class="content-background">
                    <section class="tipo-nutricao profissionais">
                        <h1 class="h1-profissionais">Profissionais</h1>
                        <h2 class="h2-profissionais">Encontre o profissional ideal para você! Essa área estão os profissionais separados por área.</h2>
                    </section>
                </section>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Esportiva</h1>
                <h2>Para você que buscar conciliar com os esportes físicos</h2>
            </section>

            <section class="cards-container" id="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>

                <a href="/perfilnutri?id=1">
                    <section class="card">
                        <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Julia Barros</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=9">
                    <section class="card">
                        <img src="imagens/profissional9.png" alt="Profissional 9" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Mariana Alves</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=12">
                    <section class="card">
                        <img src="imagens/profissional12.png" alt="Profissional 12" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Renata Dias</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=8">
                    <section class="card">
                        <img src="imagens/profissional8.png" alt="Profissional 8" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Roberto Carlos</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                            <span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Estética</h1>
                <h2>Foco em melhorar a aparência física através de uma alimentação saudável e equilibrada.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=5">
                    <section class="card">
                            <img src="imagens/profissional5.png" alt="Profissional 5" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Sophia Silva</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=6">
                    <section class="card">
                        <img src="imagens/profissional6.png" alt="Profissional 6" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Camila Ocanã</h3>
                            <p class="card-specialty">Nutrição Estética</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=3">
                    <section class="card">
                        <img src="imagens/profissional3.png" alt="Profissional 3" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Flávia Flins</h3>
                            <p class="card-specialty">Nutrição Estética</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=7">
                    <section class="card">
                        <img src="imagens/profissional7.png" alt="Profissional 7" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Agatha Matos</h3>
                            <p class="card-specialty">Nutrição Estética</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Clínica</h1>
                <h2>Perfeito para quem precisa de ajuda com doenças crônicas, como diabetes, hipertensão ou colesterol alto.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=2">
                    <section class="card">
                            <img src="imagens/profissional2.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Roberta Santos</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=10">
                    <section class="card">
                        <img src="imagens/profissional10.png" alt="Profissional 2" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Lucas Mendes</h3>
                            <p class="card-specialty">Nutrição Clínica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=11">
                    <section class="card">
                        <img src="imagens/profissional11.png" alt="Profissional 3" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Carla Souza</h3>
                            <p class="card-specialty">Nutrição Clínica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=4">
                    <section class="card">
                        <img src="imagens/profissional4.png" alt="Profissional 4" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Pablo Parron</h3>
                            <p class="card-specialty">Nutrição Clínica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Vegetariana</h1>
                <h2>Ideal para quem escolhe uma dieta baseada em plantas, focando em alimentos ricos em nutrientes e sem produtos de origem animal.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=13">
                    <section class="card">
                            <img src="imagens/profissional13.png" alt="Profissional 13" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Bruno Teixeira</h3>
                                <p class="card-specialty">Nutrição Vegetariana</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=14">
                    <section class="card">
                        <img src="imagens/profissional14.png" alt="Profissional 14" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Larissa Lobato</h3>
                            <p class="card-specialty">Nutrição Vegetariana</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=15">
                    <section class="card">
                        <img src="imagens/profissional15.png" alt="Profissional 15" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Daniela Castro</h3>
                            <p class="card-specialty">Nutrição Vegetariana</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=16">
                    <section class="card">
                        <img src="imagens/profissional16.png" alt="Profissional 16" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Henrique Lopes</h3>
                            <p class="card-specialty">Nutrição Vegetariana</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Materno-Infantil</h1>
                <h2>Voltada para o cuidado nutricional durante a gestação, amamentação e infância, garantindo o desenvolvimento saudável da mãe e do bebê.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=17">
                    <section class="card">
                            <img src="imagens/profissional17.png" alt="Profissional 17" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Mirella Cunha</h3>
                                <p class="card-specialty">Nutrição Materno-Infantil</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=18">
                    <section class="card">
                        <img src="imagens/profissional18.png" alt="Profissional 18" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Gustavo Ribeiro</h3>
                            <p class="card-specialty">Nutrição Materno-Infantil</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=19">
                    <section class="card">
                        <img src="imagens/profissional19.png" alt="Profissional 19" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Tatiane Moura</h3>
                            <p class="card-specialty">Nutrição Materno-Infantil</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=20">
                    <section class="card">
                        <img src="imagens/profissional20.png" alt="Profissional 20" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Eduardo Lima</h3>
                            <p class="card-specialty">Nutrição Materno-Infantil</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Geriátrica</h1>
                <h2>Focada em atender as necessidades nutricionais de idosos, promovendo a saúde, prevenção de doenças e qualidade de vida na terceira idade.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=21">
                    <section class="card">
                            <img src="imagens/profissional21.png" alt="Profissional 21" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Amanda Torres</h3>
                                <p class="card-specialty">Nutrição Geriátrica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=22">
                    <section class="card">
                        <img src="imagens/profissional22.png" alt="Profissional 22" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Fernando Lins</h3>
                            <p class="card-specialty">Nutrição Geriátrica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=23">
                    <section class="card">
                        <img src="imagens/profissional23.png" alt="Profissional 23" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Isabela Martins</h3>
                            <p class="card-specialty">Nutrição Geriátrica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=24">
                    <section class="card">
                        <img src="imagens/profissional24.png" alt="Profissional 24" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Marina Lima</h3>
                            <p class="card-specialty">Nutrição Geriátrica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Preventiva</h1>
                <h2>Focada em evitar doenças e promover saúde por meio de escolhas alimentares que fortalecem o organismo.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=25">
                    <section class="card">
                            <img src="imagens/profissional25.png" alt="Profissional 25" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Laura Figueira</h3>
                                <p class="card-specialty">Nutrição Preventiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=26">
                    <section class="card">
                        <img src="imagens/profissional26.png" alt="Profissional 26" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Rafael Reis</h3>
                            <p class="card-specialty">Nutrição Preventiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=27">
                    <section class="card">
                        <img src="imagens/profissional27.png" alt="Profissional 27" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Camila Duarte</h3>
                            <p class="card-specialty">Nutrição Preventiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=28">
                    <section class="card">
                        <img src="imagens/profissional28.png" alt="Profissional 28" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Bruno Salles</h3>
                            <p class="card-specialty">Nutrição Preventiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Balanceada</h1>
                <h2>Baseada na harmonia entre todos os grupos alimentares, garantindo energia, bem-estar e qualidade de vida.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=29">
                    <section class="card">
                            <img src="imagens/profissional29.png" alt="Profissional 29" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Mariana Prado</h3>
                                <p class="card-specialty">Nutrição Balanceada</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=30">
                    <section class="card">
                        <img src="imagens/profissional30.png" alt="Profissional 30" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Jorge Cardoso</h3>
                            <p class="card-specialty">Nutrição Balanceada</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=31">
                    <section class="card">
                        <img src="imagens/profissional31.png" alt="Profissional 31" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Juliana Nunes</h3>
                            <p class="card-specialty">Nutrição Balanceada</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=32">
                    <section class="card">
                        <img src="imagens/profissional32.png" alt="Profissional 32" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">André Vale</h3>
                            <p class="card-specialty">Nutrição Balanceada</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section class="tipo-nutricao">
                <h1>Nutrição Funcional</h1>
                <h2>Utiliza os alimentos como aliados no equilíbrio do corpo, melhorando funções metabólicas e prevenindo inflamações.</h2>
            </section>

            <section class="cards-container">
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_back_ios</span>
                <a href="/perfilnutri?id=33">
                    <section class="card">
                            <img src="imagens/profissional33.png" alt="Profissional 33" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Bianca Moura</h3>
                                <p class="card-specialty">Nutrição Funcional</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=34">
                    <section class="card">
                        <img src="imagens/profissional34.png" alt="Profissional 34" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Daniel Peixoto</h3>
                            <p class="card-specialty">Nutrição Funcional</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=35">
                    <section class="card">
                        <img src="imagens/profissional35.png" alt="Profissional 35" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Vanessa Luz</h3>
                            <p class="card-specialty">Nutrição Funcional</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=36">
                    <section class="card">
                        <img src="imagens/profissional36.png" alt="Profissional 36" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Gabriel Lemos</h3>
                            <p class="card-specialty">Nutrição Funcional</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                    </section>
                </a>
                <span class="material-icons arrow-icon md-24" id="hidden">arrow_forward_ios</span>
            </section>

            <section id="carousel-indicators" class="indicators"></section>
            
            <footer>
                <section class="footer-container">
    
                    <section class="footer-logo">
                        <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                        <a href="/"><h3>NutriWeb</h3></a>
                    </section>
    
                    <section class="footer-informacao">
                        <a href="/">Página Inicial</a>
                        <a href="/ranking">Ranking</a>
                        <a href="/profissionais">Profissionais</a>
                        <a href="/premium">Premium</a>
                        <a href="/login">Login</a>
                        <a href="/">Sobre nós</a> 
                        <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                      </section>
              
                  <section class="footer-social">
                      <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                    <h3>Siga-nos</h3>
                    <section class="social-icons">
                      <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                    </section>
                  </section>
                </section>
                
                <section class="footer-bottom">
                  <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                </section>
            </footer>
        </section>
    </body>
    <script src="js/indexMenu.js"></script>
    <script src="js/animacaoProfissionais.js"></script>
    <script src="js/alerts.js"></script>
</html>