<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleHome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home - NutriWeb</title>
</head>
    <body>
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>
                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
                
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>
        
        <section class="img-header">
        
            <section class="carousel">
                <section class="carousel-item active">
                    <img src="imagens/banner1.png" alt="Imagem 1">
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner2.jpg" alt="Imagem 2">
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner3.png" alt="Imagem 3">
                    <button id="btn-sabeMais" onclick="irPagina()" class="hidden">Saber agora!</button>
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner4.png" alt="Imagem 4">
                </section>

                <img src="imagens/setaesquerda.svg" class="carousel-control-prev">
                <img src="imagens/setadireita.svg" class="carousel-control-next">
            </section>

            <section class="carousel-indicators">
                <span class="indicator active"></span>
                <span class="indicator"></span>
                <span class="indicator"></span>
                <span class="indicator"></span> 
            </section>
            
        </section>

        <section class="parceiros-section">
            <h2 class="titulo-parceiros">Parceiros</h2>

            <div class="faixa-parceiros">
                <div class="logos-parceiros">
                    <a href="https://agrobox.onrender.com/" target="_blank">
                        <img src="imagens/logo_agrobox.png" alt="Parceiro AgroBox">
                    </a>
                </div>
            </div>
        </section>

        <section class="nutricionista-wrapper">
            <section class="nutricionista-header">
                <section class="left-space"></section>
                <h1>Nutricionistas qualificados</h1>
                <form class="listafiltrar hidden" action="">
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="esportiva" id="esportiva">
                        <label for="esportiva">Nutrição Esportiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="estetica" id="estetica">
                        <label for="estetica">Nutrição Estética</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="clinica" id="clinica">
                        <label for="clinica">Nutrição Clínica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="vegetariana" id="vegetariana">
                        <label for="vegetariana">Nutrição Vegetariana</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="maternoinfantil" id="maternoinfantil">
                        <label for="maternoinfantil">Nutrição Materno-Infantil</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="geriatrica" id="geriatrica">
                        <label for="geriatrica">Nutrição Geriátrica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="preventiva" id="preventiva">
                        <label for="preventiva">Nutrição Preventiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="balanceada" id="balanceada">
                        <label for="balanceada">Nutrição Balanceada</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="funcional" id="funcional">
                        <label for="funcional">Nutrição Funcional</label>
                    </section>
                </form>
                <button class="filter-button" id="filter-desktop">
                    Filtrar
                    <span class="material-icons md-24" id="filter-icon">tune</span>
                </button>
            </section>
            <h2>Para te ajudar no seu propósito</h2>
        </section>

        

        

        <section class="desktop-cards-container">
            <section class="desktop-cards-wrapper">
                <section class="arrow-container">
                    <button class="carousel-prev">&lt;</button>
                </section>

                <section class="scroll-wrapper">
                    <section class="cards-container-profissional desktop-profissional" id="cards-desktop">
                        <a href="/perfilnutri?id=1">
                            <section class="card-nutri">
                                    <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Julia Barros</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=2">
                            <section class="card-nutri">
                                    <img src="imagens/profissional2.png" alt="Profissional 2" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Roberta Santos</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=3">
                            <section class="card-nutri">
                                    <img src="imagens/profissional3.png" alt="Profissional 3" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Flávia Flins</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=4">
                            <section class="card-nutri">
                                    <img src="imagens/profissional4.png" alt="Profissional 4" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Pablo Parron</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=5">
                            <section class="card-nutri">
                                    <img src="imagens/profissional5.png" alt="Profissional 5" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Sophia Silva</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=6">
                            <section class="card-nutri">
                                    <img src="imagens/profissional6.png" alt="Profissional 6" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Camila Ocanã</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=7">
                            <section class="card-nutri">
                                    <img src="imagens/profissional7.png" alt="Profissional 7" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Agatha Matos</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=8">
                            <section class="card-nutri">
                                    <img src="imagens/profissional8.jpg" alt="Profissional 8" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Roberto Carlos</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=9">
                            <section class="card-nutri">
                                    <img src="imagens/profissional9.png" alt="Profissional 9" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Mariana Alves</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=10">
                            <section class="card-nutri">
                                    <img src="imagens/profissional10.png" alt="Profissional 10" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Lucas Mendes</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=11">
                            <section class="card-nutri">
                                    <img src="imagens/profissional11.png" alt="Profissional 1" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Carla Souza</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
            
                        <a href="/perfilnutri?id=12">
                            <section class="card-nutri">
                                    <img src="imagens/profissional12.png" alt="Profissional 12" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Renata Dias</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=13">
                            <section class="card-nutri">
                                    <img src="imagens/profissional13.png" alt="Profissional 13" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Bruno Teixeira</h3>
                                        <p class="card-specialty">Nutrição Esportiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=14">
                            <section class="card-nutri">
                                    <img src="imagens/profissional14.png" alt="Profissional 14" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Larissa Monteiro</h3>
                                        <p class="card-specialty">Nutrição Estética</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=15">
                            <section class="card-nutri">
                                    <img src="imagens/profissional15.png" alt="Profissional 15" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Daniela Castro</h3>
                                        <p class="card-specialty">Nutrição Clínica</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=16">
                            <section class="card-nutri">
                                    <img src="imagens/profissional16.png" alt="Profissional 16" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Henrique Lopes</h3>
                                        <p class="card-specialty">Nutrição Vegetariana</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=17">
                            <section class="card-nutri">
                                    <img src="imagens/profissional17.png" alt="Profissional 17" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Mirella Cunha</h3>
                                        <p class="card-specialty">Nutrição Materno-Infantil</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=18">
                            <section class="card-nutri">
                                    <img src="imagens/profissional18.png" alt="Profissional 18" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Gustavo Ribeiro</h3>
                                        <p class="card-specialty">Nutrição Geriátrica</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=19">
                            <section class="card-nutri">
                                    <img src="imagens/profissional19.png" alt="Profissional 19" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Tatiane Moura</h3>
                                        <p class="card-specialty">Nutrição Preventiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=20">
                            <section class="card-nutri">
                                    <img src="imagens/profissional20.png" alt="Profissional 20" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Eduardo Lima</h3>
                                        <p class="card-specialty">Nutrição Balanceada</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=21">
                            <section class="card-nutri">
                                    <img src="imagens/profissional21.png" alt="Profissional 21" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Amanda Torres</h3>
                                        <p class="card-specialty">Nutrição Funcional</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=22">
                            <section class="card-nutri">
                                    <img src="imagens/profissional22.png" alt="Profissional 22" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Fernando Paiva</h3>
                                        <p class="card-specialty">Nutrição Preventiva</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>

                        <a href="/perfilnutri?id=23">
                            <section class="card-nutri">
                                    <img src="imagens/profissional23.png" alt="Profissional 23" class="card-image">
                                    <section class="card-info">
                                        <h3 class="card-name">Isabela Martins</h3>
                                        <p class="card-specialty">Nutrição Materno-Infantil</p>
                                        <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                                    </section>
                            </section>
                        </a>
                    </section>
                </section>
                
                <section class="arrow-container">
                    <button class="carousel-next">&gt;</button>
                </section>
            </section>
        </section>

        <section class="titulos-publicacao">
            <h1>Veja as publicações</h1>
            <h2>Fique ligado nas dicas e receitas dos nutricionistas</h2>
        </section>

        <section class="cards-container">
            <section class="cards-wrapper">
                <section class="card"
                        data-id="1"
                        data-nome="Julia Barros"
                        data-profissao="Nutricionista Esportiva"
                        data-imgperfil="imagens/profissional1.png"
                        data-imgconteudo="imagens/img-publi.png"
                        data-titulo="QUAIS SÃO OS BENEFÍCIOS DO MAMÃO?"
                        data-conteudo1="Além de ser considerado um alimento com efeito calmante natural, o mamão fornece em vitaminas A, C, cálcio, ferro, potássio, licopeno e fibras, entre outros nutrientes."
                        data-subtitulo1="XÔ ENVELHECIMENTO PRECOCE"
                        data-conteudo2="Ele possui betacaroteno e outras substâncias com ação antioxidante que afastam os danos causados à pele pela ação dos radicais livres. Por conter vitaminas C, A e E, também contribui para uma maior firmeza da pele."
                        data-subtitulo2="AÇÃO DETOXIFICANTE"
                        data-conteudo3="Os antioxidantes presentes na fruta também ajudam no processo natural de eliminação das toxinas pelo fígado.">

                    <a href="/perfilnutri?id=1" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional1.png" alt="Profile">
                            <section>
                                <section class="name">Julia Barros</section>
                                <section class="profession">Nutricionista Esportiva</section>
                            </section>
                        </section>
                    </a>

                    <img src="imagens/img-publi.png" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                        data-id="2"
                        data-nome="Roberta Santos"
                        data-profissao="Nutricionista Clínica"
                        data-imgperfil="imagens/profissional2.png"
                        data-imgconteudo="imagens/img-post-whey.jpg"
                        data-titulo="POR QUE O WHEY É TÃO IMPORTANTE?"
                        data-conteudo1="O Whey Protein é uma das proteínas mais completas disponíveis, contendo todos os aminoácidos essenciais para a recuperação e construção muscular."
                        data-subtitulo1="ABSORÇÃO RÁPIDA"
                        data-conteudo2="Por ser de rápida digestão, é ideal para o pós-treino, fornecendo nutrientes essenciais no momento certo para os músculos."
                        data-subtitulo2="SUPORTE NUTRICIONAL"
                        data-conteudo3="Além de ajudar na recuperação, o whey também pode contribuir para o controle de peso e manutenção da massa magra.">

                    <a href="/perfilnutri?id=2" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional2.png" alt="Profile">
                            <section>
                                <section class="name">Roberta Santos</section>
                                <section class="profession">Nutricionista Clínica</section>
                            </section>
                        </section>
                    </a> 

                    <img src="imagens/img-post-whey.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                        data-id="3"
                        data-nome="Flávia Flins"
                        data-profissao="Nutricionista Estética"
                        data-imgperfil="imagens/profissional3.png"
                        data-imgconteudo="imagens/img-post-frutas.jfif"
                        data-titulo="FRUTAS PARA UMA PELE MAIS BONITA"
                        data-conteudo1="Algumas frutas possuem antioxidantes, vitaminas e minerais que ajudam a manter a pele hidratada, firme e protegida contra o envelhecimento precoce."
                        data-subtitulo1="HIDRATAÇÃO NATURAL"
                        data-conteudo2="Frutas como melancia e laranja têm alto teor de água, ajudando a manter a pele hidratada de forma natural."
                        data-subtitulo2="BRILHO E FIRMEZA"
                        data-conteudo3="A vitamina C presente em frutas cítricas estimula a produção de colágeno, essencial para firmeza e elasticidade da pele.">

                    <a href="/perfilnutri?id=3" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional3.png" alt="Profile">
                            <section>
                                <section class="name">Flávia Flins</section>
                                <section class="profession">Nutricionista Estética</section>
                            </section>
                        </section>
                    </a>   
                    <img src="imagens/img-post-frutas.jfif" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="4"
                    data-nome="Pablo Parron"
                    data-profissao="Nutricionista Clínica"
                    data-imgperfil="imagens/profissional4.png"
                    data-imgconteudo="imagens/img-post-kiwi.jpg"
                    data-titulo="O PODER DO KIWI PARA SUA SAÚDE"
                    data-conteudo1="O kiwi é uma fruta rica em vitamina C, E e K, além de antioxidantes que fortalecem o sistema imunológico e combatem inflamações."
                    data-subtitulo1="FORTALECE O SISTEMA IMUNE"
                    data-conteudo2="A alta concentração de vitamina C torna o kiwi um aliado poderoso contra gripes e resfriados."
                    data-subtitulo2="SAÚDE DIGESTIVA"
                    data-conteudo3="O kiwi contém fibras solúveis e uma enzima chamada actinidina, que facilita a digestão de proteínas.">

                    <a href="/perfilnutri?id=4" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional4.png" alt="Profile">
                            <section>
                                <section class="name">Pablo Parron</section>
                                <section class="profession">Nutricionista Clínica</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="5"
                    data-nome="Sophia Silva"
                    data-profissao="Nutricionista Estética"
                    data-imgperfil="imagens/profissional5.png"
                    data-imgconteudo="imagens/img-post-salmao.jpg"
                    data-titulo="SALMÃO: O SEGREDO PARA UMA PELE RADIANTE"
                    data-conteudo1="Rico em ômega-3, o salmão ajuda a manter a hidratação da pele e combate processos inflamatórios que podem causar acne e vermelhidão."
                    data-subtitulo1="HIDRATAÇÃO E NUTRIÇÃO"
                    data-conteudo2="Os ácidos graxos presentes no salmão fortalecem a barreira cutânea e deixam a pele mais macia e nutrida."
                    data-subtitulo2="AÇÃO ANTIOXIDANTE"
                    data-conteudo3="Além do ômega-3, o salmão é rico em selênio e vitamina E, que combatem o envelhecimento precoce.">

                    <a href="/perfilnutri?id=5" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional5.png" alt="Profile">
                            <section>
                                <section class="name">Sophia Silva</section>
                                <section class="profession">Nutricionista Estética</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-salmao.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="12"
                    data-nome="Renata Dias"
                    data-profissao="Nutricionista Esportiva"
                    data-imgperfil="imagens/profissional12.png"
                    data-imgconteudo="imagens/img-post-sanduiche.jpg"
                    data-titulo="SANDUÍCHE NATURAL É UMA BOA OPÇÃO?"
                    data-conteudo1="O sanduíche natural é uma alternativa rápida e equilibrada para lanches, desde que os ingredientes sejam bem escolhidos."
                    data-subtitulo1="PROTEÍNAS E FIBRAS"
                    data-conteudo2="Incluir peito de frango, ovos ou atum com vegetais e pães integrais garante saciedade e equilíbrio nutricional."
                    data-subtitulo2="CUIDADO COM MOLHOS"
                    data-conteudo3="Evite maioneses industrializadas. Prefira pastas caseiras como homus, ricota ou guacamole para manter a refeição saudável.">

                    <a href="/perfilnutri?id=12" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional12.png" alt="Profile">
                            <section>
                                <section class="name">Renata Dias</section>
                                <section class="profession">Nutricionista Esportiva</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-sanduiche.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="10"
                    data-nome="Lucas Mendes"
                    data-profissao="Nutricionista Clínica"
                    data-imgperfil="imagens/profissional10.png"
                    data-imgconteudo="imagens/img-post-ovos.jpg"
                    data-titulo="OS BENEFÍCIOS DOS OVOS"
                    data-conteudo1="O ovo é uma fonte completa de proteínas e fornece aminoácidos essenciais ao corpo humano."
                    data-subtitulo1="NUTRIENTE COMPLETO"
                    data-conteudo2="Além das proteínas, o ovo oferece vitaminas A, D, E, B12, além de minerais como ferro e selênio."
                    data-subtitulo2="MELHORA A SACIEDADE"
                    data-conteudo3="Consumir ovos no café da manhã pode ajudar no controle do apetite e auxiliar em dietas para perda de peso.">

                    <a href="/perfilnutri?id=10" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional10.png" alt="Profile">
                            <section>
                                <section class="name">Lucas Mendes</section>
                                <section class="profession">Nutricionista Clínica</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-ovos.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="8"
                    data-nome="Roberto Carlos"
                    data-profissao="Nutricionista Esportiva"
                    data-imgperfil="imagens/profissional8.jpg"
                    data-imgconteudo="imagens/img-post-macarronada.jpg"
                    data-titulo="MACARRONADA PODE SER SAUDÁVEL?"
                    data-conteudo1="Com os ingredientes certos, a macarronada pode sim fazer parte de uma alimentação equilibrada, principalmente para quem pratica esportes."
                    data-subtitulo1="ENERGIA PARA O TREINO"
                    data-conteudo2="O macarrão integral, combinado com vegetais e proteínas magras, fornece energia e nutrientes essenciais para o desempenho físico."
                    data-subtitulo2="CONTROLE NAS PORÇÕES"
                    data-conteudo3="A chave está na moderação e no equilíbrio: a quantidade e os acompanhamentos fazem toda a diferença para manter a refeição saudável.">

                    <a href="/perfilnutri?id=8" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional8.jpg" alt="Profile">
                            <section>
                                <section class="name">Roberto Carlos</section>
                                <section class="profession">Nutricionista Esportiva</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-macarronada.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="9"
                    data-nome="Mariana Alves"
                    data-profissao="Nutricionista Esportiva"
                    data-imgperfil="imagens/profissional9.png"
                    data-imgconteudo="imagens/img-post-lasanha.jpg"
                    data-titulo="LASANHA FIT: É POSSÍVEL?"
                    data-conteudo1="A versão saudável da lasanha é possível com ingredientes mais nutritivos e leves, sem abrir mão do sabor."
                    data-subtitulo1="SUBSTITUIÇÕES INTELIGENTES"
                    data-conteudo2="Troque a massa tradicional por fatias de abobrinha ou massa integral e use ricota no lugar de queijos mais gordurosos."
                    data-subtitulo2="IDEAL PARA O DIA A DIA"
                    data-conteudo3="Além de saborosa, a lasanha fit pode ser incluída em dietas esportivas, promovendo saciedade e energia com equilíbrio.">

                    <a href="/perfilnutri?id=9" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional9.png" alt="Profile">
                            <section>
                                <section class="name">Mariana Alves</section>
                                <section class="profession">Nutricionista Esportiva</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-lasanha.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="7"
                    data-nome="Agatha Matos"
                    data-profissao="Nutricionista Estética"
                    data-imgperfil="imagens/profissional7.png"
                    data-imgconteudo="imagens/img-post-prato.jpg"
                    data-titulo="PRATO COLORIDO: BELEZA DE DENTRO PARA FORA"
                    data-conteudo1="Incluir uma variedade de cores no prato é essencial para garantir diferentes vitaminas e antioxidantes benéficos à saúde da pele."
                    data-subtitulo1="VARIEDADE NUTRICIONAL"
                    data-conteudo2="Vegetais roxos, verdes, vermelhos e alaranjados fornecem nutrientes que contribuem para uma pele mais jovem e protegida."
                    data-subtitulo2="REFEIÇÕES FUNCIONAIS"
                    data-conteudo3="Montar pratos coloridos diariamente auxilia na manutenção da beleza e vitalidade da pele, além de favorecer o bem-estar geral.">

                    <a href="/perfilnutri?id=7" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional7.png" alt="Profile">
                            <section>
                                <section class="name">Agatha Matos</section>
                                <section class="profession">Nutricionista Estética</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-prato.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="11"
                    data-nome="Carla Souza"
                    data-profissao="Nutricionista Clínica"
                    data-imgperfil="imagens/profissional11.png"
                    data-imgconteudo="imagens/img-post-saladaDeFrutas.jpg"
                    data-titulo="SALADA DE FRUTAS: SAÚDE E SABOR"
                    data-conteudo1="A salada de frutas é uma excelente forma de consumir diferentes vitaminas e fibras em uma única refeição leve e nutritiva."
                    data-subtitulo1="VARIEDADE DE NUTRIENTES"
                    data-conteudo2="Combinar frutas diversas potencializa a ingestão de antioxidantes, contribuindo para o fortalecimento do sistema imunológico."
                    data-subtitulo2="OPÇÃO REFRESCANTE"
                    data-conteudo3="Ideal para lanches saudáveis, a salada de frutas é prática, saborosa e promove saciedade sem exageros.">

                    <a href="/perfilnutri?id=11" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional11.png" alt="Profile">
                            <section>
                                <section class="name">Carla Souza</section>
                                <section class="profession">Nutricionista Clínica</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-saladaDeFrutas.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card"
                    data-id="6"
                    data-nome="Camila Ocanã"
                    data-profissao="Nutricionista Estética"
                    data-imgperfil="imagens/profissional6.png"
                    data-imgconteudo="imagens/img-post-saladafruta.jpg"
                    data-titulo="SALADA DE FRUTAS PARA A BELEZA DA PELE"
                    data-conteudo1="A salada de frutas oferece uma combinação rica em antioxidantes e vitaminas, essenciais para manter a pele saudável e radiante."
                    data-subtitulo1="BELEZA NATURAL"
                    data-conteudo2="Frutas como morango, mamão e kiwi são fontes poderosas de vitamina C e A, que ajudam na regeneração da pele."
                    data-subtitulo2="AÇÃO ANTIOXIDANTE"
                    data-conteudo3="Os antioxidantes presentes nas frutas combatem os radicais livres, prevenindo o envelhecimento precoce.">

                    <a href="/perfilnutri?id=6" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional6.png" alt="Profile">
                            <section>
                                <section class="name">Camila Ocanã</section>
                                <section class="profession">Nutricionista Estética</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-saladafruta.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

            </section>

            <div class="banner-card-meio">
                <img src="imagens/banner3.png" alt="BannerPatrocinio"/>
            </div>

            <button class="btn-verMais">
                Ver mais
                <svg class="seta-svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10l5 5 5-5" stroke="green" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>

        </section>

        <section id="modal" class="modal">
            <section class="modal-content">

                <section class="modal-image">
                    <img src="imagens/img-login.jpg" alt="Content Image" id="modal-img">
                </section>

                <section class="modal-card">
                    <a href="/perfilnutri?id=1" class="card-perfil card-perfil-modal">
                        <section class="card-header card-header-modal">
                            <img src="imagens/profissional1.png" alt="Profile" id="modal-profile">
                            <section>
                                <section class="name" id="modal-name">Julia</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                    
                    <section class="modal-image-mobile">
                        <img src="imagens/img-login.jpg" alt="Content Image" id="modal-img">
                    </section>

                    <section class="modal-description">
                        <h2>QUAIS SÃO OS BENEFÍCIOS DO MAMÃO?</h2>
                        <p>Além de ser considerado um alimento com efeito calmante natural, o mamão fornece em vitaminas A, C, cálcio, ferro, potássio, licopeno e fibras, entre outros nutrientes.</p>
                        <h3>XÔ ENVELHECIMENTO PRECOCE</h3>
                        <p>Ele possui betacaroteno e outras substâncias com ação antioxidante que afastam os danos causados à pele pela ação dos radicais livres. Por conter vitaminas C, A e E, também contribui para uma maior firmeza da pele.</p>
                        <h3>AÇÃO DETOXIFICANTE</h3>
                        <p>Os antioxidantes presentes na fruta também ajudam no processo natural de eliminação das toxinas pelo fígado.</p>
                    </section>

                    <section class="btn-favorite-comment">
                        <span class="material-icons btn-favorite">favorite</span>
                        <span class="material-icons btn-comment">chat</span>
                    </section>

                    <section class="container-comentarios">
                        <span class="material-icons">account_circle</span>
                        <input type="text" placeholder="Adicione um comentário...">
                        <button class="btn-enviar">
                            <span class="material-icons">send</span>
                        </button>
                    </section>                    
                </section>

                <!-- <span class="material-icons more-modal">more_vert</span> -->
                <span class="close-modal md-24" id="close-modal">&times;</span>

            </section>
        </section>  
        
        <footer>
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                    <a href="/"><h3>NutriWeb</h3></a>
                </section>

              <section class="footer-informacao">
                <a href="/">Página Inicial</a>
                <a href="/ranking">Ranking</a>
                <a href="/profissionais">Profissionais</a>
                <a href="/premium">Premium</a>
                <a href="/login">Login</a>
                <a href="/">Sobre nós</a> 
                <a href="/tipoNutri">Como escolher o profissional ideal?</a>
              </section>
          
              <section class="footer-social">
                <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                <h3>Siga-nos</h3>
                    <section class="social-icons">
                    <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                    </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
          
        
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

            <section class="img-header-mobile">
        
                <section class="carousel">
                    <section class="carousel-item-mobile active">
                        <img src="imagens/banner1.png" alt="Imagem 1">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner2.jpg" alt="Imagem 2">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner3.png" alt="Imagem 3">
                        <button id="btn-sabeMais-mobile" onclick="irPagina()" class="hidden">Clique aqui</button>
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner4.png" alt="Imagem 3">
                    </section>
    
                    <button class="carousel-control-prev-mobile">&lt;</button>
                    <button class="carousel-control-next-mobile">&gt;</button>
                </section>
                
            </section>            

            <section class="nutricionista-mobile">
                <section class="nutricionista-mobile-header">
                  <section class="left-space-mobile"></section>
                  <h1>Nutricionistas qualificados</h1>
                  <form class="listafiltrarmobile hidden" action="">
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="esportiva" id="esportiva-mobile">
                        <label for="esportiva-mobile">Nutrição Esportiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="estetica" id="estetica-mobile">
                        <label for="estetica-mobile">Nutrição Estética</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="clinica" id="clinica-mobile">
                        <label for="clinica-mobile">Nutrição Clínica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="vegetariana" id="vegetariana-mobile">
                        <label for="vegetariana-mobile">Nutrição Vegetariana</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="maternoinfantil" id="maternoinfantil-mobile">
                        <label for="maternoinfantil-mobile">Nutrição Materno-Infantil</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="geriatrica" id="geriatrica-mobile">
                        <label for="geriatrica-mobile">Nutrição Geriátrica</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="preventiva" id="preventiva-mobile">
                        <label for="preventiva-mobile">Nutrição Preventiva</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="balanceada" id="balanceada-mobile">
                        <label for="balanceada-mobile">Nutrição Balanceada</label>
                    </section>
                    <section class="conteudofiltrar">
                        <input type="checkbox" name="funcional" id="funcional-mobile">
                        <label for="funcional-mobile">Nutrição Funcional</label>
                    </section>
                </form>
                  <button class="filter-button" id="filter-mobile">
                    Filtrar
                    <span class="material-icons md-24" id="filter-icon-mobile">tune</span>
                  </button>
                </section>
                <h2>Para te ajudar no seu propósito</h2>
              </section>

            <section class="cards-container-profissional">

                <a href="/perfilnutri?id=1">
                    <section class="card-nutri">
                            <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Julia Barros</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=2">
                    <section class="card-nutri">
                            <img src="imagens/profissional2.png" alt="Profissional 2" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Roberta Santos</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=3">
                    <section class="card-nutri">
                            <img src="imagens/profissional3.png" alt="Profissional 3" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Flávia Flins</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=4">
                    <section class="card-nutri">
                            <img src="imagens/profissional4.png" alt="Profissional 4" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Pablo Parron</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=5">
                    <section class="card-nutri">
                            <img src="imagens/profissional5.png" alt="Profissional 5" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Sophia Silva</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=6">
                    <section class="card-nutri">
                            <img src="imagens/profissional6.png" alt="Profissional 6" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Camila Ocanã</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=7">
                    <section class="card-nutri">
                            <img src="imagens/profissional7.png" alt="Profissional 7" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Agatha Matos</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=8">
                    <section class="card-nutri">
                            <img src="imagens/profissional8.jpg" alt="Profissional 8" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Roberto Carlos</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=9">
                    <section class="card-nutri">
                            <img src="imagens/profissional9.png" alt="Profissional 9" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Mariana Alves</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=10">
                    <section class="card-nutri">
                            <img src="imagens/profissional10.png" alt="Profissional 10" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Lucas Mendes</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=11">
                    <section class="card-nutri">
                            <img src="imagens/profissional11.png" alt="Profissional 11" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Carla Souza</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=12">
                    <section class="card-nutri">
                            <img src="imagens/profissional12.png" alt="Profissional 12" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Renata Dias</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=13">
                    <section class="card-nutri">
                            <img src="imagens/profissional13.png" alt="Profissional 13" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Bruno Teixeira</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=14">
                    <section class="card-nutri">
                            <img src="imagens/profissional14.png" alt="Profissional 14" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Larissa Monteiro</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=15">
                    <section class="card-nutri">
                            <img src="imagens/profissional15.png" alt="Profissional 15" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Daniela Castro</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=16">
                    <section class="card-nutri">
                            <img src="imagens/profissional16.png" alt="Profissional 16" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Henrique Lopes</h3>
                                <p class="card-specialty">Nutrição Vegetariana</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=17">
                    <section class="card-nutri">
                            <img src="imagens/profissional17.png" alt="Profissional 17" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Mirella Cunha</h3>
                                <p class="card-specialty">Nutrição Materno-Infantil</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=18">
                    <section class="card-nutri">
                            <img src="imagens/profissional18.png" alt="Profissional 18" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Gustavo Ribeiro</h3>
                                <p class="card-specialty">Nutrição Geriátrica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=19">
                    <section class="card-nutri">
                            <img src="imagens/profissional19.png" alt="Profissional 19" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Tatiane Moura</h3>
                                <p class="card-specialty">Nutrição Preventiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=20">
                    <section class="card-nutri">
                            <img src="imagens/profissional20.png" alt="Profissional 20" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Eduardo Lima</h3>
                                <p class="card-specialty">Nutrição Balanceada</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=21">
                    <section class="card-nutri">
                            <img src="imagens/profissional21.png" alt="Profissional 21" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Amanda Torres</h3>
                                <p class="card-specialty">Nutrição Funcional</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=22">
                    <section class="card-nutri">
                            <img src="imagens/profissional22.png" alt="Profissional 22" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Fernando Paiva</h3>
                                <p class="card-specialty">Nutrição Preventiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>

                <a href="/perfilnutri?id=23">
                    <section class="card-nutri">
                            <img src="imagens/profissional23.png" alt="Profissional 23" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Isabela Martins</h3>
                                <p class="card-specialty">Nutrição Materno-Infantil</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
            </section>    

            <section class="titulos-publicacao-mobile">
                <h1>Veja as publicações</h1>
                <h2>Fique ligado nas dicas dos nutricionista</h2>
            </section>

            <section class="cards-container-mobile">
                <section class="cards-wrapper">
                    <section class="card"
                        data-id="1"
                        data-nome="Julia"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional1.png"
                        data-imgconteudo="imagens/img-post-kiwi.jpg"
                        data-titulo="BENEFÍCIOS DO KIWI PARA A SAÚDE"
                        data-conteudo1="O kiwi é uma excelente fonte de vitamina C, contribuindo para a imunidade e a saúde da pele."
                        data-subtitulo1="SAÚDE EM DIA"
                        data-conteudo2="Contém fibras que auxiliam no funcionamento do intestino e no controle do colesterol."
                        data-subtitulo2="DIGESTÃO REGULADA"
                        data-conteudo3="Ideal para lanches saudáveis, o kiwi ainda tem ação antioxidante e anti-inflamatória.">

                        <a href="/perfilnutri?id=1" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional1.png" alt="Profile">
                                <section>
                                    <section class="name">Julia</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
                    
                    <section class="card"
                        data-id="2"
                        data-nome="Roberta"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional2.png"
                        data-imgconteudo="imagens/img-post-whey.jpg"
                        data-titulo="O USO DO WHEY NA ALIMENTAÇÃO"
                        data-conteudo1="O whey protein é uma proteína de alto valor biológico, ideal para recuperação muscular."
                        data-subtitulo1="SUPLEMENTAÇÃO EFICIENTE"
                        data-conteudo2="Pode ser utilizado por praticantes de atividade física e também como complemento proteico na rotina alimentar."
                        data-subtitulo2="VERSATILIDADE"
                        data-conteudo3="Consulte um nutricionista para orientações sobre a dose adequada às suas necessidades.">

                        <a href="/perfilnutri?id=2" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional2.png" alt="Profile">
                                <section>
                                    <section class="name">Roberta</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-whey.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
    
                    <section class="card"
                        data-id="3"
                        data-nome="Flávia"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional3.png"
                        data-imgconteudo="imagens/img-post-frutas.jfif"
                        data-titulo="A IMPORTÂNCIA DAS FRUTAS NA ALIMENTAÇÃO"
                        data-conteudo1="Frutas fornecem vitaminas, minerais e fibras essenciais para o funcionamento do organismo."
                        data-subtitulo1="VITALIDADE NATURAL"
                        data-conteudo2="Consumir uma variedade de frutas diariamente ajuda na prevenção de doenças crônicas."
                        data-subtitulo2="VARIEDADE É FUNDAMENTAL"
                        data-conteudo3="Opte sempre por frutas da estação para garantir frescor, sabor e melhor custo-benefício.">

                        <a href="/perfilnutri?id=3" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional3.png" alt="Profile">
                                <section>
                                    <section class="name">Flávia</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-frutas.jfif" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
    
                    <section class="card"
                        data-id="4"
                        data-nome="Pablo"
                        data-profissao="Nutricionista"
                        data-imgperfil="imagens/profissional4.png"
                        data-imgconteudo="imagens/img-post-kiwi.jpg"
                        data-titulo="O PODER DO KIWI NA NUTRIÇÃO"
                        data-conteudo1="Fruta rica em nutrientes e sabor, o kiwi pode fazer parte de diversas refeições."
                        data-subtitulo1="REFRESCANTE E NUTRITIVO"
                        data-conteudo2="Seus antioxidantes contribuem para a prevenção de inflamações e o equilíbrio do corpo."
                        data-subtitulo2="IMUNIDADE FORTALECIDA"
                        data-conteudo3="Incluir frutas como o kiwi é uma forma simples de melhorar a saúde diariamente.">

                        <a href="/perfilnutri?id=4" class="card-perfil">
                            <section class="card-header">
                                <img src="imagens/profissional4.png" alt="Profile">
                                <section>
                                    <section class="name">Pablo</section>
                                    <section class="profession">Nutricionista</section>
                                </section>
                            </section>
                        </a>
                        <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
                </section>
                
                <footer class="footer-mobile">
                    <section class="footer-container">
        
                        <section class="footer-logo">
                            <img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo">
                        </section>
        
                      <section class="footer-informacao">
                        <h3>Sobre o NutriWeb</h3>
                        <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                      </section>
                  
                      <section class="footer-social">
                        <h3>Siga-nos</h3>
                        <section class="social-icons">
                          <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                        </section>
                      </section>
                    </section>
                    
                    <section class="footer-bottom">
                      <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                    </section>
                </footer>

            </section>

        </section>
        
    </body>
    <script src="js/indexMenu.js"></script>
    <script src="js/carrossel.js"></script>
    <script src="js/carrosselperfis.js"></script>
    <script src="js/filtro.js"></script>
    <script src="js/modalHome.js"></script>
</html>