<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePerfilNutri.css">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Perfil - NutriWeb</title>
</head>
    <body class="body">
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking">
                    <section class="btn-ranking">
                        <img src="imagens/icone-ranking.png" alt="Ranking Icon" class="icon-rank">
                        <button class="ranking-button">Ranking</button>
                    </section>
                </a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>
            
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

        </section>

        <!-- Conteudo do site -->

        <section id="conteudo-completo">
             <section id="imagem_de_fundo">
             </section>
                     <main class="conteudo">
             
                <section id="info_perfil">
                    <section id="container_foto">
                        <section class="foto_perfil">
                            <img src="#" alt="" class="foto_perfil" id="foto-perfil">
                        </section>
                    </section><br>

                    <section id="infrmacoes_nutri">
                        <h1 id="nomenutri"></h1>
                        <p class="tipo-nutri" id="tipo-nutri"></p>

                        <h1>Sobre:</h1>
                        <span id="sobremim"></span>
                    </section>
                    
                    <section id="info_contato">
                        <h4>Informações de Contato</h4>
                        <section class="divisao"></section>
                    </section>
                    <section id="rede_sociais">
             
                        <p class="contato">
                            <img src="imagens/whatsapp-logo-computer-icons-png-favpng-wMENFvu5MVSPHJBMEHuwGNSZr-removebg-preview.png" alt="" class="icone_contato">
                            <span id="whatsapp">(xx) xxxxx-xxxx</span>
                        </p>
             
                        <p class="contato">
                            <img src="imagens/OIP-removebg-preview.png" alt="" class="icone_contato">
                            <span id="instagram">(xx) xxxxx-xxxx</span>
                        </p>
             
                        <p class="contato">
                            <img src="imagens/OIP-removebg-preview (1).png" alt="" class="icone_contato">
                            <span id="email">(xx) xxxxx-xxxx</span>
                        </p>
                    </section>
                    <section id="editar-perfil">
             
                        <span class="material-symbols-outlined caneta">
                            edit
                            </span>
                        <p>
                            Editar Perfil
                        </p>
                    </section>
             
                </section>
                <section id="publi_avaliacao">
                    <section id="publi_selecionar" onclick="clicarDois()">
                        <p>Publicações</p>
                    </section>
                    <section id="avaliacao_selecionar" onclick="clicarUm()">
                        <p>Avaliações</p>
                    </section>
                </section>

                <section id="publi">
                    <article class="img">
                        <a href="/publicar"><img src="imagens/addIcon_NutriWeb-removebg-preview.png" alt="" id="adicionar_foto"></a>
                    </article>
             
                    <article class="img">
                        <img src="imagens/img-post-frutas.jpg" alt="" class="post_img">
                    </article>
                    <article class="img">
                        <img src="imagens/img-post-kiwi.jpg" alt=""  class="post_img">
                    </article>
                    <article class="img">
                        <img src="imagens/img-post-whey.jpg" alt=""  class="post_img">
                    </article>
                    <article class="img">
                        <img src="imagens/img-post-kiwi.jpg" alt=""  class="post_img">
                    </article>
                    <article class="img">
                        <img src="imagens/img-post-frutas.jpg" alt=""  class="post_img">
                    </article>
                </section>
                
                <section id="avaliar_nutri">
                    <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <span class="material-symbols-outlined icone_conta">account_circle</span>
                                <p class="nome-escrito" id="nome1">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario1">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
             
                    <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <span class="material-symbols-outlined icone_conta">account_circle</span>
                                <p class="nome-escrito" id="nome2">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario2">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
                    <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <span class="material-symbols-outlined icone_conta">account_circle</span>
                                <p class="nome-escrito" id="nome3">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario3">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
                     <article class="avaliacao">
                        <section class="nome_avaliador">
                            <section id="nome">
                                <span class="material-symbols-outlined icone_conta">account_circle</span>
                                <p class="nome-escrito" id="nome4">Bruna</p>
                            </section>
                            <section id="container-estrela">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela-ativa.png" alt="">
                                <img src="imagens/estrela.png" alt="">
                            </section>
                        </section>
                        <p class="comentario" id="comentario4">
                            Comentário sobre o nutricionista
                        </p>
                    </article>
                </section>
                     </main>

                     <footer class="footer">
                        <section class="footer-container">
            
                            <section class="footer-logo">
                                <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                            </section>
            
                          <section class="footer-informacao">
                            <h3>Sobre o NutriWeb</h3>
                            <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                          </section>
                      
                          <section class="footer-social">
                            <h3>Siga-nos</h3>
                            <section class="social-icons">
                              <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                            </section>
                          </section>
                        </section>
                        
                        <section class="footer-bottom">
                          <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                        </section>
                    </footer>
         </section>
    </body>
    <script src="js/scriptPerfil.js"></script>
    <script src="js/indexMenu.js"></script>
    <script src="js/listanutricionistas.js"></script>
</html>