<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleRanking.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Ranking - NutriWeb</title>
</head>

    <body>

        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking"><button class="ranking-button">Ranking</button></a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>

        </header>
        
        <main>

            <section class="ranking-content">
                <img src="imagens/img-ranking.png" alt="imagem de troféu" class="img-ranking">
                <section class="ranking-text">
                    <h1>Ranking</h1>
                    <h4>Destaque-se na comunidade! </h4>
                    <p>A cada mês, reconhecemos os nutricionistas mais ativos e influentes com base no engajamento dos conteúdos e nas avaliações dos clientes, como estrelas.<br><br>Compartilhe conhecimento, receba ótimos feedbacks e suba no nosso ranking!</p>
                </section>
            </section>

            <section class="back">
                <a href="/" class="back-button">
                    <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                    <span class="back-arrow">Voltar</span>
                </a>
            </section>

            <section class="ranking-section">

                <!-- <section class="header-content">
                    <a href="/"><span class="material-icons arrow-icon md-24">arrow_back_ios</span></a>
                    <span class="header-text">Ranking</span>
                </section> -->  
                <table>
                    <thead>
                        <tr>
                            <th class="posicao_geral"><h2>Posição Geral</h2></th>
                            <th class="nome"><h2>Nome e Área</h2></th>
                            <th class="avaliacao"><h2>Avaliações</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="posicao_geral"><h1>1°</h1></td>
                            <td class="nome">
                                <p>
                                    <strong>Aurora Augostine</strong><br>
                                    <em>Nutrição Esporitva</em>
                                </p>
                            </td>

                            <td>
                                1957
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="posicao_geral"><h1>2°</h1></td>
                            <td class="nome">
                                <p>
                                    <strong>Sophia Ferri</strong><br>
                                    <em>Nutrição Esporitva</em>
                                </p>
                            </td>
                            <td>
                                1886
                            </td>
                        </tr>

                        <tr>
                            <td class="posicao_geral"><h1>3°</h1></td>
                            <td class="nome">
                                <p>
                                    <strong>Levi Ribeiro</strong><br>
                                    <em>Nutrição Clinica Hospitalar</em>
                                </p>
                            </td>
                            <td>
                                1270
                            </td>
                        </tr>

                        <tr>
                            <td class="posicao_geral"><h1>4°</h1></td>
                            <td class="nome">
                                <p>
                                    <strong>Rafaela Bennett</strong><br>
                                    <em>Nutrição Clinica Hospitalar</em>
                                </p>
                            </td>
                            <td>
                                900
                            </td>
                        </tr>

                        <tr>
                            <td class="posicao_geral "><h1>5°</h1></td>
                            <td class="nome">
                                <p>
                                    <strong>Roberto Castro</strong><br>
                                    <em>Nutrição Estética</em>
                                </p>
                            </td>
                            <td>
                                856
                            </td>
                        </tr>

                    </tbody>
                </table>

            </section>

            <footer>
                <section class="footer-container">
    
                    <section class="footer-logo">
                        <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                        <a href="/"><h3>NutriWeb</h3></a>
                    </section>
    
                    <section class="footer-informacao">
                        <a href="/">Página Inicial</a>
                        <a href="/ranking">Ranking</a>
                        <a href="/profissionais">Profissionais</a>
                        <a href="/premium">Premium</a>
                        <a href="/login">Login</a>
                        <a href="/">Sobre nós</a> 
                        <a href="/tipoNutri">Como escolher o profissional ideal?</a>
                      </section>
              
                  <section class="footer-social">
                      <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                    <h3>Siga-nos</h3>
                    <section class="social-icons">
                      <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                    </section>
                  </section>
                </section>
                
                <section class="footer-bottom">
                  <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                </section>
            </footer>
        </main>

        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/perfilcliente">Meu Perfil</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/login">Entrar</a></li>
                </ul>
            </section>

        </section>    

    </body>
    <script src="js/indexMenu.js"></script>
</html>