<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleCadastrar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Cadastre-se - NutriWeb</title>
</head>
    <body>
        
        <section class="header-content">
            <a href="/login" class="back-button">
                <span class="material-icons arrow-icon md-24">arrow_back_ios</span>
                <span>Voltar</span>
            </a>
        </section>

        <main class="main-content">
            <section class="left-image">
                <a href="/"><img src="imagens/logo.png" alt="Imagem" class="responsive-img"></a>
            </section>
            <section class="right-card">
                <h2>Cadastre-se</h2>
                <p>Antes de se cadastrar escolha seu campo de uso.</p>
                <section class="buttons">
                    <a href="/cadastronutri"><button class="btn">Sou Nutricionista</button></a>
                    <a href="/cadastrocliente"><button class="btn">Sou cliente</button></a>
                </section>
            </section>
        </main>

        <footer class="footer">
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo"></a>
                </section>

              <section class="footer-informacao">
                <h3>Sobre o NutriWeb</h3>
                <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
              </section>
          
              <section class="footer-social">
                <h3>Siga-nos</h3>
                <section class="social-icons">
                  <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>

        <section class="mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>

            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

        </section>

    </body>
    <script src="js/indexMenu.js"></script>
</html>