<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylePremium.css">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <title>Premium - NutriWeb</title>
</head>
    <body>
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking">
                    <section class="btn-ranking">
                        <img src="imagens/icone-ranking.png" alt="Ranking Icon" class="icon-rank">
                        <button class="ranking-button">Ranking</button>
                    </section>
                </a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>

        <section class="center-content">
            <h1 class="title">Planos</h1>
            <p class="subtitle">Conheça nossos planos e veja qual faz mais sentido para você.</p>
        </section>

        <section class="cards">
            <article>
                <h2>Básico</h2>
                <p><span class="basic-price">R$ 0</span>/gratuito</p>
                <button class="btn-assinar">Assinar</button>
            </article>
        
            <article class="card-pro">
                <h2>Pro</h2>
                <p><span class="pro-price">R$ 25</span>/por mês</p>
                <button class="btn-assinar-pro">Assinar</button>
            </article>
        
            <article class="card-gold">
                <h2>Gold</h2>
                <p><span class="gold-price">R$ 50</span>/por mês</p>
                <button class="btn-assinar-gold">Assinar</button>
            </article>
        </section>
        
            
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

        </section>
        
    </body>
    <script src="js/indexMenu.js"></script>
</html>