<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagens/logo-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styleHome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home - NutriWeb</title>
</head>
    <body>
        
        <header class="header">
            
            <section class="left-section">
                <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
        
                <a href="/ranking" class="ranking">
                    <section class="btn-ranking">
                        <img src="imagens/icone-ranking.png" alt="Ranking Icon" class="icon-rank">
                        <button class="ranking-button">Ranking</button>
                    </section>
                </a>

                <a href="/profissionais"><button class="profissionais-button">Profissionais</button></a>
                
            </section>

            <section class="center-section">
                <section class="input-premium">
                    <span class="material-icons search-icon md-24">search</span>
                    <input type="text">
                </section>
            </section>
            
            <section class="right-section">
                <a href="/perfilcliente"><button class="meuperfil-button">Meu Perfil</button></a>
                <a href="/premium"><button class="premium-button">Premium</button></a>
                <a href="/login"><button class="entrar-button">Entrar</button></a>
            </section>
            
        </header>
        
        <section class="img-header">
        
            <section class="carousel">
                <section class="carousel-item active">
                    <img src="imagens/banner1.png" alt="Imagem 1">
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner2.png" alt="Imagem 2">
                </section>
                <section class="carousel-item">
                    <img src="imagens/banner3.jpeg" alt="Imagem 3">
                    <button id="btn-sabeMais" onclick="irPagina()" class="hidden">Saber agora!</button>
                </section>

                <button class="carousel-control-prev">&lt;</button>
                <button class="carousel-control-next">&gt;</button>
            </section>
            
        </section>

        <button class="filter-button">
            Filtrar
            <span class="material-icons md-24">tune</span>
        </button>

        <section class="nutricionista">
            <h1>Nutricionistas qualificados</h1>
            <h2>Para te ajudar no seu propósito</h2>
        </section>

        <section class="cards-container-profissional desktop-profissional">

            <a href="/perfilnutri?id=1">
                <section class="card-nutri">
                        <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Julia Barros</h3>
                            <p class="card-specialty">Nutrição Esportiva</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                </section>
            </a>

            <a href="/perfilnutri?id=2">
                <section class="card-nutri">
                        <img src="imagens/profissional2.png" alt="Profissional 1" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Roberta Santos</h3>
                            <p class="card-specialty">Nutrição Clínica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                </section>
            </a>

            <a href="/perfilnutri?id=3">
                <section class="card-nutri">
                        <img src="imagens/profissional3.png" alt="Profissional 1" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Flávia Flins</h3>
                            <p class="card-specialty">Nutrição Estética</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                </section>
            </a>

            <a href="/perfilnutri?id=4">
                <section class="card-nutri">
                        <img src="imagens/profissional4.png" alt="Profissional 1" class="card-image">
                        <section class="card-info">
                            <h3 class="card-name">Pablo Parron</h3>
                            <p class="card-specialty">Nutrição Clínica</p>
                            <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                        </section>
                </section>
            </a>

        </section>    

        <section class="titulos-publicacao">
            <h1>Veja as publicações</h1>
            <h2>Fique ligado nas dicas dos nutricionista</h2>
        </section>

        <section class="cards-container">
            <section class="cards-wrapper">
                <section class="card">
                    <a href="/perfilnutri?id=1" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional1.png" alt="Profile">
                            <section>
                                <section class="name">Julia</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                    <img src="imagens/img-login.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card">
                    <a href="/perfilnutri?id=2" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional2.png" alt="Profile">
                            <section>
                                <section class="name">Roberta</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a> 
                    <img src="imagens/img-post-whey.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card">
                    <a href="/perfilnutri?id=3" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional3.png" alt="Profile">
                            <section>
                                <section class="name">Flávia</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>   
                    <img src="imagens/img-post-frutas.jfif" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>

                <section class="card">
                    <a href="/perfilnutri?id=4" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional4.png" alt="Profile">
                            <section>
                                <section class="name">Pablo</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>    
                    <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                    <section class="caption">Legenda...</section>
                </section>
            </section>
        </section>

        <section id="modal" class="modal">
            <section class="modal-content">

                <section class="modal-image">
                    <img src="imagens/img-login.jpg" alt="Content Image" id="modal-img">
                </section>

                <section class="modal-card">
                    <a href="/perfilnutri?id=1" class="card-perfil card-modal">
                        <section class="card-header">
                            <img src="imagens/profissional1.png" alt="Profile" id="modal-profile">
                            <section>
                                <section class="name" id="modal-name">Julia</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                    
                    <section class="modal-image-mobile">
                        <img src="imagens/img-login.jpg" alt="Content Image" id="modal-img">
                    </section>

                    <section class="modal-description">
                        <h2>QUAIS SÃO OS BENEFÍCIOS DO MAMÃO?</h2>
                        <p>Além de ser considerado um alimento com efeito calmante natural, o mamão fornece em vitaminas A, C, cálcio, ferro, potássio, licopeno e fibras, entre outros nutrientes.</p>
                        <h3>XÔ ENVELHECIMENTO PRECOCE</h3>
                        <p>Ele possui betacaroteno e outras substâncias com ação antioxidante que afastam os danos causados à pele pela ação dos radicais livres. Por conter vitaminas C, A e E, também contribui para uma maior firmeza da pele.</p>
                        <h3>AÇÃO DETOXIFICANTE</h3>
                        <p>Os antioxidantes presentes na fruta também ajudam no processo natural de eliminação das toxinas pelo fígado.</p>
                    </section>
                </section>

                <span class="close-modal md-24" id="close-modal">&times;</span>
            </section>
        </section>  
        
        <footer>
            <section class="footer-container">

                <section class="footer-logo">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

              <section class="footer-informacao">
                <h3>Sobre o NutriWeb</h3>
                <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
              </section>
          
              <section class="footer-social">
                <h3>Siga-nos</h3>
                <section class="social-icons">
                  <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                </section>
              </section>
            </section>
            
            <section class="footer-bottom">
              <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
            </section>
        </footer>
          
        
        <section class="home-mobile">

            <section class="menu">
                <section class="left-section">
                    <a href="/"><img src="imagens/logo.png" alt="Logo" class="logo"></a>
                </section>

                <section class="right-section">
                    <span class="material-icons search-icon md-24 menu-icon">menu</span>
                </section>
            </section>
            
            <section class="mobile-menu hidden">
                <ul>
                    <li><a href="/login">Entrar</a></li>
                    <li><a href="/ranking">Ranking</a></li>
                    <li><a href="/profissionais">Profissionais</a></li>
                    <li><a href="/premium">Premium</a></li>
                </ul>
            </section>

            <section class="img-header-mobile">
        
                <section class="carousel">
                    <section class="carousel-item-mobile active">
                        <img src="imagens/banner1.png" alt="Imagem 1">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner2.png" alt="Imagem 2">
                    </section>
                    <section class="carousel-item-mobile">
                        <img src="imagens/banner3.jpeg" alt="Imagem 3">
                        <button id="btn-sabeMais-mobile" onclick="irPagina()" class="hidden">Clique aqui</button>
                    </section>
    
                    <button class="carousel-control-prev-mobile">&lt;</button>
                    <button class="carousel-control-next-mobile">&gt;</button>
                </section>
                
            </section>            

            <section class="search-container-mobile">
                <button class="filter-button-mobile">
                    Filtrar
                    <span class="material-icons filter-mobile">tune</span>
                </button>
            </section>

            <section class="nutricionista-mobile">
                <h1>Nutricionistas qualificados</h1>
                <h2>Para te ajudar no seu propósito</h2>
            </section>

            <section class="cards-container-profissional">

                <a href="/perfilnutri?id=1">
                    <section class="card-nutri">
                            <img src="imagens/profissional1.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Julia Barros</h3>
                                <p class="card-specialty">Nutrição Esportiva</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=2">
                    <section class="card-nutri">
                            <img src="imagens/profissional2.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Roberta Santos</h3>
                                <p class="card-specialty">Nutrição Clínica</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=3">
                    <section class="card-nutri">
                            <img src="imagens/profissional3.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Flávia Flins</h3>
                                <p class="card-specialty">Nutrição Estética</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
                <a href="/perfilnutri?id=4">
                    <section class="card-nutri">
                            <img src="imagens/profissional4.png" alt="Profissional 1" class="card-image">
                            <section class="card-info">
                                <h3 class="card-name">Pablo Parron</h3>
                                <p class="card-specialty">Nutrição Materno</p>
                                <span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span><span class="material-icons avaliacao_nutri">star</span>
                            </section>
                    </section>
                </a>
    
            </section>    

            <section class="titulos-publicacao-mobile">
                <h1>Veja as publicações</h1>
                <h2>Fique ligado nas dicas dos nutricionista</h2>
            </section>

            <section class="cards-container-mobile">
                <section class="cards-wrapper">
                    <section class="card">
                    <a href="/perfilnutri?id=1" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional1.png" alt="Profile">
                            <section>
                                <section class="name">Julia</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                        <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
                    
                    <section class="card">
                    <a href="/perfilnutri?id=2" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional2.png" alt="Profile">
                            <section>
                                <section class="name">Roberta</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                        <img src="imagens/img-post-whey.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
    
                    <section class="card">
                    <a href="/perfilnutri?id=3" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional3.png" alt="Profile">
                            <section>
                                <section class="name">Flávia</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                        <img src="imagens/img-post-frutas.jfif" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
    
                    <section class="card">
                    <a href="/perfilnutri?id=4" class="card-perfil">
                        <section class="card-header">
                            <img src="imagens/profissional4.png" alt="Profile">
                            <section>
                                <section class="name">Pablo</section>
                                <section class="profession">Nutricionista</section>
                            </section>
                        </section>
                    </a>
                        <img src="imagens/img-post-kiwi.jpg" alt="Content" class="content-img">
                        <section class="caption">Legenda...</section>
                    </section>
                </section>
                
                <footer class="footer-mobile">
                    <section class="footer-container">
        
                        <section class="footer-logo">
                            <img src="imagens/logo.png" class="img-footer" alt="Logo" class="logo">
                        </section>
        
                      <section class="footer-informacao">
                        <h3>Sobre o NutriWeb</h3>
                        <p>Conecte-se com os melhores nutricionistas e encontre o profissional ideal para você.</p>
                      </section>
                  
                      <section class="footer-social">
                        <h3>Siga-nos</h3>
                        <section class="social-icons">
                          <a href="https://www.instagram.com/nutriweb_oficial/"><i class="fab fa-instagram"></i></a>
                        </section>
                      </section>
                    </section>
                    
                    <section class="footer-bottom">
                      <p>&copy; 2024 NutriWeb. Todos os direitos reservados.</p>
                    </section>
                </footer>

            </section>

        </section>
        
    </body>
    <script src="js/indexMenu.js"></script>
    <script src="js/carrossel.js"></script>
    <script src="js/modalHome.js"></script>
</html>